.tree_file_system_space {
  padding-right: 5px;
}

.tree_file_system_node {
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
}

.tree_file_system_node:focus {
  background: #DDD;
}

.tree_file_system_children {
  border-left: 1px dotted;
  margin-left: 7px;
  padding-left: 15px;
}

.tree_file_system_node_selected {
  background-color: #FFF;
}
