body {
  margin: 0;
  padding: 0;
}

#app {
  background: #111;
  height: 100vh;
  width: 100vw;
}

div:focus {
  outline:0;
}

#parentFileFrame {
  background: #eee;
  height: 100vh;
  overflow: auto;
  resize: horizontal;
  width: 300px;
}

#contentTextArea {
  height: 100vh;
  width: 100%;
}

#childTextArea {
  background: #222;
  color: #fff;
  height: calc( 100% - 80px );
  margin: 20px;
  padding: 20px;
}

.file_button {
  background: #222;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.file_button:hover {
  background: #333;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
